{% extends 'template.html' %}


{% block content %}
    <h1 class='title'>
        {% block title %} 
            Hot Lava Java
        {% endblock %}
    </h1>
    <p>
        This is a medium DOM exercise.
    </br>
        This one gets a bit trippy.
    </p>
    <script src="{{ url_for('static', filename= 'js/jQuery.min.js') }}"></script>
    <form method="GET" action="/challenge10">
        <input id="search" placeholder="Search..." name="search"/></br>
        <input type="submit" value="Search" />
    </form>
    <script>
        var urlParams = new URLSearchParams(window.location.search);
        var test = urlParams.get('search').replace('/','').replace(';','').replace('&','').toLowerCase();
        if ( test.includes('alert') || (test.split(')').length > 2) )  {
            test = '';
        } else {
            eval("document.__proto__.right_then = " + test + ";");
            document.right_then();
        }

    </script>
    
{% endblock %}
