{% extends 'template.html' %}


{% block content %}
    <h1 class='title'>
        {% block title %} 
        Research Proposal
        {% endblock %}
    </h1>
    <p>
        This is a Hard DOM exercise.
    </br>
        Try not to get caught by the SOC...
    </p>
    <script src="{{ url_for('static', filename= 'js/jQuery-3.1.1.min.js') }}"></script>
    <form method="GET" action="/challenge11">
        <input id="search" placeholder="Search..." name="search"/></br>
        <label>Origin of Request:</label><div id="origin"></div>
        
    </form>
    <script>
        {% autoescape false %}
        var source = " {{ src }} ";
        {% endautoescape %}
        $("#origin").html(source)
        if (document.getElementById('origin').innerHTML.trim() !== '') {
            alert('The SOC would have caught you, better luck next time.')
        }
    </script>
    
{% endblock %}
